body {
  font-family: 'Liberation Serif', 'Georgia', serif;
  font-size: 1.1em;
  line-height: 1.5;
}

div.content {
  width: 797px;
  max-width: 90%;
  margin: 20px auto;
}

a {
  color: #007ea7;
  transition: .3s background-color;
}
a:hover {
  background-color: #a9f8fb;
}

.btn {
  font-family: monospace;
  text-transform: uppercase;
  text-decoration: none;
}
.btn::before {
  content: '[';
}

.btn::after {
  content: ']';
}

.featured-image {
  max-width: 100% !important;
  height: auto;
}

.featured {
  position: relative;
  top: 350px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font-size: 2.2em;
  /* margin-bottom: 0px; */
}

@media (max-width: 950px) {
  .featured {
    font-size: 4.2vw;
  }
}

.visible-sm {
  display: none;
}

@media (max-width: 550px) {
  .hidden-sm {
    display: none;
  }
  .visible-sm {
    display: block;
  }
}

nav ul {
  list-style: none;
  padding: 10px 20px;
  margin: 0;
}

nav ul li {
  float: right;
}

.room-list {
  list-style: none;
  padding-left: 0px;
}
