body {
  font-family: 'Liberation Serif', 'Georgia', serif;
  font-size: 1.1em;
  line-height: 1.5;
  color: #57534a;
}

div.content {
  width: 700px;
  max-width: 90%;
  margin: 20px auto;
}

a {
  color: #007ea7;
  cursor: pointer;
  transition: .3s background-color;
}
a.btn:hover {
  background-color: #a9f8fb;
}

a.room-name {
  color: #57534a;
}

.btn {
  cursor: pointer;
  font-family: monospace;
  text-transform: uppercase;
  text-decoration: none;
}
.btn::before {
  content: '[';
}
.btn::after {
  content: ']';
}

.featured-image {
  max-width: 100% !important;
  height: auto;
  box-shadow: 8px 8px 10px #aaa;
  margin-bottom: 15px;
}

.featured {
  position: relative;
  top: 294px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font-size: 1.7em;
}

@media (max-width: 950px) {
  .featured {
    font-size: 3.7vw;
  }
}

.visible-sm {
  display: none;
}

.btn-room-list {
  float: right;
}

@media (max-width: 550px) {
  .hidden-sm {
    display: none;
  }
  .visible-sm {
    display: block;
  }

  .btn-room-list {
    float: none;
  }
}

nav ul {
  list-style: none;
  padding: 10px 20px;
  margin: 0;
}

nav ul li {
  float: right;
}

.room-list {
  list-style: none;
  margin-bottom: 8px;
  padding-left: 0px;
}

a.room-name {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}
a.room-name:hover {
  background-color: inherit;
}

.NextEvent {
  background-color: #d4eac8;
  border-radius: 4px;
  padding: 0px 7px;
}

@keyframes progress {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.loading-skeleton, .loading-skeleton a {
    animation: progress 1.2s ease-in-out infinite;
    color: rgba(0, 0, 0, 0.0) !important;
    border: none;
    background-color: #eee;
    background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    background-repeat: no-repeat;
    border-radius: 4px;
    box-shadow: none;
}

/* Feedback button */
.microfeedback-button, .microfeedback-dialog {
  font-family: 'Helvetica Neue', sans-serif;
}

a.microfeedback-button:hover {
  background-color: rgba(61, 194, 85, 0.8);
}

.microfeedback-dialog button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;

    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    line-height: normal;
    text-transform: none;
    overflow: visible;
}

button.microfeedback-button-submit {
  background-color: #007ea7;
  color: #fff;
}

