<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Find a room at COS</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    {% if DEBUG %}
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    {% else %}
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
    {% endif %}
    <script src="{{url_for('static', filename='vendor/date-fns/date_fns.js')}}"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </head>
  <body>
    {% raw %}
    <div class="container" id="app">

      <header v-if="loaded">
        <nav>
          <ul>
            <li><a class="btn" href="/logout">Log out</a></li>
          </ul>
        </nav>
      </header>

      <div class="content">

        <div v-if="!loaded">
          Finding a room...
        </div>

        <div v-if="featured || free.length">
          <h2 class="featured-alt visible-sm">{{ featured.name }} is available
            <span v-if="featured.until">for {{ distance(featured.until) }}</span>
          </h2>
          <div class="featured-image hidden-sm" v-bind:style="featuredStyle">
            <h2 class="featured">{{ featured.name }} is available
              <span v-if="featured.until">for {{ distance(featured.until) }}</span>
            </h2>
          </div>
          <div v-if="featured.createURL">
            <a class="btn" v-bind:href="featured.createURL">Reserve now</a>
          </div>

          <p v-if="free.length">The following rooms are available now:</p>
          <ul class="room-list">
            <li v-for="room in free">
              <strong>{{ room.name }}</strong>
              <span v-if="room.until">is available for {{ distance(room.until) }}</span>
              <a v-bind:title="'Reserve ' + room.name" class="btn btn-room-list" v-bind:href="room.createURL" v-if="room.createURL">Reserve now</a>
            </li>
          </ul>
        </div>

        <div v-if="busy.length">
          <p>The following rooms are not yet available:</p>
          <ul class="room-list">
            <li v-for="room in busy">
              <strong>{{ room.name }}</strong>
              <span v-if="room.until">
                (available in {{ distance(room.until) }})
                <a v-bind:title="'Reserve ' + room.name" class="btn btn-room-list" v-bind:href="room.createURL" v-if="room.createURL">Reserve next opening</a>
              </span>
            </li>
          </ul>
        </div>
      <div>
        <a v-if="loaded" target="_blank" href="https://gist.github.com/sloria/12f7e0dfc6e5d1c6c480bbe5f1f3cb15">Add more rooms</a>
      </div>

      <small v-if="lastUpdated">Last updated {{ lastUpdated.toLocaleString() }}</small>

      <!-- FOR DEBUGGING -->
      <!-- <pre>Debugging:</pre> -->
      <!-- <pre>{{ JSON.stringify({ free, busy }, null, 2) }}</pre> -->

      </div><!-- /.content -->
    </div>
    {% endraw %}
  </body>
</html>
