<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Find a room at COS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="{{url_for('static', filename='vendor/date-fns/date_fns.js')}}"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </head>
  <body>
    {% raw %}
    <div class="container" id="app">

      <header v-if="loaded">
        <nav>
          <ul>
            <li><a class="btn" href="/logout">Log out</a></li>
          </ul>
        </nav>
      </header>


      <div class="content">

        <div v-if="!loaded">
          Finding a room...
        </div>

        <div v-if="featured || free.length">
          <!-- <img v&#45;if="featured.image" v&#45;bind:src="featured.image" v&#45;bind:alt="featured.name" /> -->
          <div class="featured-image" v-bind:style="featuredStyle">
            <h2 class="featured">{{ featured.name }} is available
              <span v-if="featured.until">for {{ distance(featured.until) }}</span>
            </h2>
          </div>
          <div v-if="featured.createURL">
            <a class="btn" v-bind:href="featured.createURL">Reserve now</a>
          </div>



          <p v-if="free.length">The following rooms are also available:</p>
          <ul class="free-room-list">
            <li v-for="room in free">
              <strong>{{ room.name }}</strong>
              <span v-if="room.until">is available for {{ distance(room.until) }}</span>
              <a class="btn" v-bind:href="room.createURL" v-if="room.createURL">Reserve now</a>
            </li>
          </ul>
        </div>

        <div v-if="busy.length">
          <p>The following rooms are not yet available:</p>
          <ul class="busy-room-list">
            <li v-for="room in busy">
              <strong>{{ room.name }}</strong>
              <span v-if="room.until">
                (available in {{ distance(room.until) }})
                <a class="btn" v-bind:href="room.createURL" v-if="room.createURL">Reserve next opening</a>
              </span>
            </li>
          </ul>
        </div>

      <small v-if="lastUpdated">Last updated {{ lastUpdated.toLocaleString() }}</small>

      <!-- FOR DEBUGGING -->
      <!-- <pre>Debugging:</pre> -->
      <!-- <pre>{{ JSON.stringify({ free, busy }, null, 2) }}</pre> -->

      </div><!-- /.content -->
    </div>
    {% endraw %}
  </body>
</html>
